@import url(https://db.onlinewebfonts.com/c/4ced975fa3e5923499c64211ab8d7777?family=Orev+Edge+Regular);

:root {
    --main: #1A2B42;
    --sel: #F78C26;
    --bg: #EAECEE;
    --text: #2C3E50;
    --text-light: #566573;
    --white: #ffffff;
    --black: #000000;
    --border: #B08010;
    --edit: #4AA8AA;
    --del: #E74C3C;
    --primaryBackgroundSidebar: #202A44;
    --AccentActionButton: #F78C2F;
    --GeneralBackground: #F5F7FA;
    --BorderDivider: #DDDDDD;
    --SubtleTextHint: #777777;
    --toastSuccess: #269b24;
    --toastError:  #d10d0d;
    --toastInfo: #124fff;
    --bor: 1px solid rgb(255, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orev Edge Regular";
}

a {
    text-decoration: none;
    color: inherit;
}

.expanded {
    width: 250px;
}

.collapsed {
    width: 80px;
}

.hide {
    display: none;
}

.blur {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}

.disable {
    cursor: not-allowed !important;
    opacity: 0.7;
}

.toast {
    position: absolute;
    right: -350px;
    bottom: 50px;
    width: 330px;
    height: 100px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    overflow: hidden;
    transition: all 0.8s ease;
    gap: 2px;
}

.toast.show {
  right: 30px;
}

.toastWave {
    height: 100%;
    width: 3%;
}


.toastContent {
    width: 97%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toastHeader {
    width: 100%;
    height: 30%;
    display: flex;
}

.toastHead {
    display: flex;
    width: 90%;
    align-items: center;
    gap: 10px;
}

.toastIc {
    display: flex;
    font-size: 24px;
}

.toastClose {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.toastBody {
    font-size: 20px;
}

.expanded,
.collapsed,
.hide,
.selected {
    transition: width 0.3s;
}

.admin {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.adminSideBar {
    height: 100%;
}

.navigation {
    background-color: var(--main);
    height: 100%;
    border-right: 2px dotted var(--text-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navHeader {
    display: flex;
    align-items: center;
    height: 8%;
    gap: 10px;
}

.adminLogo {
    display: flex;
    font-size: 50px;
    color: var(--sel);
    margin-left: 15px;
    cursor: pointer;
}

.adminTitle {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
}

.adminMain {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.adminHeader {
    height: 8%;
    width: 100%;
    background-color: var(--main);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileLogo {
    display: flex;
    font-size: 40px;
    color: var(--white);
    cursor: pointer;
}

.adminContent {
    height: 92%;
    width: 100%;
    background-color: var(--GeneralBackground);
    padding: 20px;
    overflow-y: hidden;
}

.navItems {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
}

.navItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
}

.selected {
    width: 100%;
    background-color: var(--sel);
    border-radius: 5px;
}

.pageTitle {
    color: var(--text);
    font-size: 40px;
    font-weight: 700;
}

.dashBoard,
.exams,
.students,
.hallTickets,
.settings,
.hallTicket {
    height: 100%;
    width: 100%;
}

.dashBoardCards {
    display: flex;
    height: 40%;
    width: 100%;
    padding: 20px;
}

.dashBoardCards.dbc-2 {
    height: 55%;
}

.boardCard {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    background-color: var(--main);
    width: 30%;
    height: 100%;
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boardCard.dbc-2 {
    align-items: flex-start;
}

.cardTitle {
    color: var(--white);
    font-size: 32px;
    font-weight: 600;
}

.cardContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: var(--bg);
    font-size: 24px;
    margin-top: 10px;
}

.cardContent.dbc-2 {
    align-items: flex-start;
}

.cardData {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.cardData.dbc-2 {
    height: 80%;
}

.cardBtnContainer {
    color: var(--bg);
    width: 100%;
    height: 40%;
    background-color: var(--sel);
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardBtnContainer.dbc-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 89%;
    height: 25%;
    margin-left: auto;
}

.cardBtn {
    color: var(--bg);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.notifyArea {
    height: 100%;
    width: 85%;
    resize: none;
    font-size: 24px;
    color: var(--text);
    padding: 2px 3px 2px 5px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

.pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.addBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--sel);
    color: var(--bg);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.examSelector {
    height: 200px;
    border: 1px solid var(--BorderDivider);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--bg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.examCard,
.tableContainer {
    background-color: #F5F7FA;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.examTable {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
}

.semSelect,
.examSelect {
    width: 60%;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.tabHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.examContainer {
    height: 60%;
    width: 100%;
    padding: 20px;
}

.studentContainer {
    height: 80%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.tabTitle {
    font-size: 30px;
    font-weight: 600;
    color: var(--text);
}

.addSubBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: var(--sel);
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.rowHead {
    background-color: var(--bg);
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    padding: 20px;
    position: sticky;
    top: 0;
}

.cellHead {
    padding: 0 10px;
    color: var(--text);
    border-right: 2px dotted var(--bg);
}

.cellBody {
    padding: 10px;
    border: 2px dotted var(--bg);
    border-left: none;
    border-top: none;
    color: var(--text-light);
}

.cellBody:last-child {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.editIc {
    color: var(--edit);
    cursor: pointer;
}

.delIc {
    color: var(--del);
    cursor: pointer;
}

.settingsContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailsContainer {
    height: 15%;
    width: 80%;
    display: flex;
    align-items: center;
    color: var(--text);
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoutBtn {
    cursor: pointer;
    height: 5%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: var(--sel);
    color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subCard,
.stuCard {
    position: absolute;
    z-index: 1;
    transform: translate(50%, 20%);
    width: 40%;
    height: 60%;
    background-color: var(--bg);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cardTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.cardTable td {
    padding: 5px;
}

.cardLable {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--BorderDivider);
    border-radius: 5px;
}

.saveChanges {
    display: flex;
    justify-content: center;
}

.saveBtn {
    width: 30%;
    padding: 10px;
    background-color: var(--sel);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.deleteCard {
    position: absolute;
    z-index: 1;
    transform: translate(90%, 80%);
    width: 30%;
    height: 30%;
    background-color: var(--bg);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.delActions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.cancelBtn {
    padding: 10px;
    border: 1px solid var(--AccentActionButton);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 30%;
}

.deleteBtn {
    padding: 10px;
    background-color: var(--sel);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 30%;
}

.viewIc {
    cursor: pointer;
}

.stuDetailsHomeContainer.sdh {
    position: absolute;
    height: 40%;
    transform: translate(60%,50%);
    z-index: 1;
}

.login {
    background-color: var(--bg);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    background-color: var(--main);
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.loginHeader {
    font-size: 48px;
    margin-top: 20px;
    color: var(--bg);
    font-weight: 600;
}

.loginContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
    height: 70%;
    gap: 20px;
}

.loginDetails {
    height: 25%;
}

.loginLable {
    font-size: 22px;
    color: var(--bg);
}

.loginIp {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.loginBtn {
    cursor: pointer;
    height: 80%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--AccentActionButton);
    color: var(--white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.loginDetails:last-child {
    margin-top: 30px;
}

.home {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    overflow: hidden;
}

.homeHeader {
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0 0;
}

.homeHeading {
    width: 60%;
    display: flex;
    justify-content: end;
}

.adminLoginBtnContainer {
    height: 70%;
    width: 7%;
}

.adminLoginBtn {
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--AccentActionButton);
    border-radius: 5px;
}

.homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 80%;
}

.homeDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin: 30px;
}

.homeLable {
    font-size: 22px;
}

.homeIp {
    width: 30%;
    height: 60%;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 30px 10px 10px;
    border: none;
}

.sendIc {
    cursor: pointer;
    position: absolute;
    width: 3%;
    height: 5%;
    padding: 10px;
    left: 65%;
    border: 1px solid black;
    border-left: none;
    font-size: 20px;
    background-color: var(--AccentActionButton);
    color: var(--white);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.homeOtp {
    height: 100%;
    width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.otpIp {
    height: 80%;
    width: 10%;
    font-size: 22px;
    padding-left: 16px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.verifyBtn {
    cursor: pointer;
    margin: 0 0 0 50px;
    height: 8%;
    width: 30%;
    border-radius: 5px;
    border: none;
    background-color: var(--AccentActionButton);
    color: var(--white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stuDetailsHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55%;
    padding: 20px;
}

.stuDetailsHomeContainer {
    border: 1px solid var(--BorderDivider);
    height: 100%;
    width: 40%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.stuDetailsHomeHeader {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 60px;
    gap: 10px;
    font-size: 20px;
}

.detailsCardIc {
    font-size: 32px;
    color: var(--AccentActionButton);
}

hr {
    width: 90%;
    border: 2px solid var(--AccentActionButton);
}

.stuDetailsHomeBody {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 80%;
    padding: 20px;
}

.stuDetailsImgHome {
    border: 1px solid red;
    width: 30%;
    height: 100%;
}

.pageHeader.ht {
    justify-content: center;
}

.hallTicketContainer {
    border: var(--bor);
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.hallTicketContainer .ht {
    border: var(--bor);
    height: 80%;
    width: 60%;
}

.htHeader {
    display: flex;
    border: var(--bor);
    justify-content: center;
}

.clgLogo {
    border: var(--bor);
    height: 100px;
}

.htTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTxt1 {
    border: var(--bor);
    font-size: 48px;
}
